/*
    Hoja de estilos para todo el proyecto
*/

.button{/* Color de todos los botones*/
    -fx-color: black;
    -fx-background-color: #3D9099;
    -fx-background-radius: 0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#panePacientes, #paneAgregarPaciente, #panePacientes, #paneCitas, #paneHistorial,
#paneReportes, #paneConfiguracion, #paneExtra, #paneEditarPaciente, #paneH,
#paneAgregarH, #paneRsexo, #paneRIngresos, #paneMuni, #paneEdad, #paneCrearUsuario, #paneRuta,#paneEscoger,#paneAgregarcitas {
    -fx-background-color: #FFFFFF;
}
/* Iconos en los botones de acceso */
#btnPacientes{
    -fx-graphic: url("../img/pacientes.png");
    -fx-graphic-text-gap : 10;
    -fx-color: black;
    -fx-background-color: #1F80A6;
    -fx-background-radius: 0;
}
#btnModificarPacientes1{
    -fx-graphic: url("../img/citas.png");
    -fx-graphic-text-gap : 10;
    -fx-color: black;
    -fx-background-color: #1F80A6;
    -fx-background-radius: 0;
}
#btnHistorial{
    -fx-graphic: url("../img/historial.png");
    -fx-graphic-text-gap : 10;
    -fx-color: black;
    -fx-background-color: #1F80A6;
    -fx-background-radius: 0;
}
#btnReportes{
    -fx-graphic: url("../img/reportes.png");
    -fx-graphic-text-gap : 10;
    -fx-color: black;
    -fx-background-color: #1F80A6;
    -fx-background-radius: 0;
}
#btnConfiguracion{
    -fx-graphic: url("../img/confi.png");
    -fx-graphic-text-gap : 10;
    -fx-color: black;
    -fx-background-color: #1F80A6;
    -fx-background-radius: 0;
}
#pp{
    -fx-background-color: #1F80A6;
}

.progress-bar:indeterminate .dot_1 {
    -fx-background-color: blueviolet;
}
#lblLogin{
    -fx-graphic: url("../img/login.png");
    -fx-graphic-text-gap : 10;
}
#btnAceptarLogin{
    -fx-background-color: #00BD3A;
    -fx-background-radius: 1;
}
#btnCancelarLogin{
    -fx-background-color: #FC4349;
    -fx-background-radius: 1;
}
#paneBotones{
    -fx-background-color: #1F80A6;
}
/* Botones de cancelar */
#btnCancelar{
    -fx-background-color: #FC4349;
    -fx-background-radius: 1;
}
#cancelar{
    -fx-background-color: #FC4349;
    -fx-background-radius: 1;
}
#cancelar1{
    -fx-background-color: #FC4349;
    -fx-background-radius: 1;
}
#cancelarRuta{
    -fx-background-color: #FC4349;
    -fx-background-radius: 1;
}
#cancelarRuta1{
    -fx-background-color: #FC4349;
    -fx-background-radius: 1;
}
#btnCancelarEdicion{
    -fx-background-color: #FC4349;
    -fx-background-radius: 1;
}
.table-view:row-selection .table-row-cell:filled:selected { 
    -fx-background-color: rgba(28, 183, 236, 0.65);
}
.table-view .column-header .label{
    -fx-text-fill: whitesmoke;
    -fx-alignment: CENTER;
}
#l1 {   
    -fx-font-size: 25px;
    -fx-font-weight: 700;
    -fx-text-fill: #134e66;
    -fx-font-text-align: center;

}

#tabla2, #tabla{

    -fx-color: #a5461f;

}

#tblPacientes{

    -fx-color: #a5461f;

}
#tablasexo1{

    -fx-color: #a5461f;
}
#tablaconsulta{

    -fx-color: #a5461f;
}
#tableEdad{

    -fx-color: #a5461f;
}
#tableMuni{

    -fx-color: #a5461f;
}
#tblIngresos{

    -fx-color: #a5461f;
}
#tableHist{

    -fx-color: #a5461f;
}
#tablePA{

    -fx-color: #a5461f;
}
.text-field:focused {
    -fx-background-color: #EBF5FB ;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}
.text-area:focused {
    -fx-background-color: #EBF5FB ;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}